/**
* @desc         app styles
* @requires     variables, placeholders
*/

%webkit-scrollbar {
  ::-webkit-scrollbar {
    width: 6px;
    height: 8px;
    background-color: transparent;;

    &-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
      background-color: transparent;

      &:hover {
        background-color: blue;
      }
    }
  }
}

:root {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
}

html {
  @extend %webkit-scrollbar;
}

body {
  margin: 0;
  padding: 0;

  background-image: url("/img/app-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  //font-family: $ff-regular!important;
}

.app,
.ant-layout {
  overflow-y: hidden;
  height: 100vh;
}

.ant-layout-content {
  overflow-y: auto;
  height: 100%;
}

//.app, main {
//  @extend %flex-column;
//  gap: $fs-xxlarge;
//}
